@import "global.less";

.cont {
  background-color: @color-blue-light;
  padding: 3.75rem 2rem;

  .galMobile {
    display: grid;
    gap: 2.5rem;
  }

  .galWeb {
    display: grid;
    gap: 2.5rem;
  }
}

.infoBody {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.actionsCont {
  padding-top: 1.1rem;
  display: flex;
  justify-content: center;
}

@media @mediaWeb {
  .cont .galWeb {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media @mediaTablet {
  .cont .galWeb {
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media @mediaMobile {
  .cont ul {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
