@import "global.less";

.card {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1.2rem;
  border-radius: 1.2rem;
  background: @color-blue-grad;
  color: @color-light;
}

.picWrap {
  display: flex;
  align-items: flex-end;
  border-radius: 0.6rem;
  width: auto;
  overflow: hidden;
  background-color: @color-light;
  height: 340px;
}

.desc {
  .name {
    font-size: 2rem;
  }

  .surname {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
