@import "global.less";

.pricing {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.25rem;
  box-shadow: 0 0 0.7rem 0.1rem @color-blue-trans-02;

  &.grad {
    background: @color-blue-grad;

    .header {
      .title {
        color: @color-light;
      }
    }

    .body {
      .specs {
        border-color: @color-blue-light;
      }
    }
  }

  &.shadow {
    background-color: @color-light;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  .title {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex-grow: 1;

  .priceInfo {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    .price {
      font-size: 4.9rem;
      font-weight: bold;
    }

    .period {
      font-size: 1.5;
      margin-bottom: 1rem;
    }
  }

  .specs {
    align-self: stretch;
    flex-grow: 1;
    padding: 1.25rem 0;
    border: 0.1rem solid @color-blue;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 800px) {
  .specs {
    display: none;
  }
}
