@color-dark: rgb(6, 24, 30);
@color-light: rgb(239, 251, 255);
@color-blue: rgb(10, 145, 189);
@color-blue-light: rgb(222, 244, 246);
@color-blue-grad: linear-gradient(90deg, rgb(4, 141, 189) 0%, rgb(4, 212, 246) 100%);
