@color-dark: rgb(6, 24, 30);
@color-light: rgb(239, 251, 255);
@color-blue: rgb(10, 145, 189);
@color-blue-light: rgb(222, 244, 246);
@color-blue-dark: rgb(1, 116, 148);
@color-blue-grad: linear-gradient(180deg, rgb(4, 141, 189) 0%, rgb(4, 212, 246) 100%);
@color-blue-trans: rgba(20, 176, 227, 0.5);
@color-blue-trans-02: rgb(20, 176, 227, 0.2);
